<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Info" target="SYSTEM_OUT">
            <LevelMatchFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %msg%n"/>
        </Console>


        <Console name="Warn" target="SYSTEM_ERR">
            <LevelMatchFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5level] %msg%n"/>
        </Console>

        <Console name="Debug" target="SYSTEM_ERR">
            <LevelMatchFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5level] %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Info"/>
            <AppenderRef ref="Warn"/>
            <AppenderRef ref="Debug"/>
        </Root>
    </Loggers>
</Configuration>